@media screen and (max-width: 1200px) {
    .contactsLink {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .channelLink {
        display: none;
    }
}

@media screen and (max-width: 880px) {
    .patentsLink {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .calculatorsLink {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .devicesLink {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .usLink {
        display: none;
    }
    
}

@media screen and (max-width: 2000px) and (min-width: 1200px) {
    .menu2Link {
        display: none;
        
    }
}

@media screen and (max-width: 2000px) and (min-width: 900px) {
    nav ul li ul {
        left: 0;
    }
}

@media screen and (max-width: 900px) {
    nav ul li ul {
        right: 0;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1100px) {
    .channel2Link {
        display: none;
    }
}

@media screen and (max-width: 2000px) and (min-width: 880px) {
    .patents2Link {
        display: none;
    }
}

@media screen and (max-width: 2000px) and (min-width: 770px) {
    .calculators2Link {
        display: none;
    }
}

@media screen and (max-width: 2000px) and (min-width: 650px) {
    .devices2Link {
        display: none;
    }
}

@media screen and (max-width: 2000px) and (min-width: 550px) {
    .us2Link {
        display: none;
    }
}

@media screen and (max-width: 600px) and (min-width: 0) {
    .channelBlock {
        margin-left: 4%;
        margin-right: 4%;
    }

    .channelBlock2 {
        margin-left: 4%;
        margin-right: 4%;
    }

    .frame {
        margin-left: 4%;
        margin-right: 4%;
    }

    .devicessize {
        margin-left: 0;
        margin-right: 0;
    }

    .pdevices {
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;
        left: 0;
        right: 0;
    }

    .calcMenu {
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;
        left: 0;
        right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 2000px) and (min-width: 900px) {
    .devices {
        margin-top: 610px;
        right: 59.5%;
    }

    .patents {
        margin-top: 910px;
        right: 59.5%;
    }

    .calculators {
        margin-top: 610px;
        left: 59.5%;
    }

    .channel {
        margin-top: 910px;
        left: 59.5%;
    }
}



@media screen and (max-width: 900px) and (min-width: 780px) {
    .devices {
        margin-top: 610px;
        left: 6.5%;
    }

    .patents {
        margin-top: 910px;
        left: 6.5%;
    }

    .calculators {
        margin-top: 610px;
        right: 6.5%;
    }

    .channel {
        margin-top: 910px;
        right: 6.5%;
    }

    .h2index {
        top: 1540px;
    }


    .footerIndex {
        top: 1850px;
    }
}

@media screen and (max-width: 780px) and (min-width: 500px) {
    .devices {
        top: 670px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .calculators {
        top: 970px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .patents {
        top: 1270px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .channel {
        top: 1570px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 780px) and (min-width: 0px) {
    .h1index {
        margin-top: 90px;
    }

    .backgroundIndex {
        height: 310vh;
    }

    @media screen and (max-height: 530px) and (min-height: 0) {
        .backgroundIndex {
            height: 330vh;
        }
    }


 .buttonDevice {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .h2index {
        top: 2100px;
    }


    .footerIndex {
        top: 2400px;
    }
}

@media screen and (max-width: 850px) and (min-width: 0px) {
    
    .h2patents {
        top: 1805px;
    }
    

    .footerPatents {
        top: 2100px;
    }


    .footerDevices {
        top: 1960px;
    }

    .backgroundDevices {
        height: 240vh;
    }

    @media screen and (max-height: 530px) and (min-height: 0) {
        .backgroundDevices {
            height: 240vh;
        }
    }

    .backgroundPatents {
        height: 240vh;
    }

    @media screen and (max-height: 530px) and (min-height: 0) {
        .backgroundPatents {
            height: 280vh;
        }
    }

   

    .h2Devices {
        top: 1670px;
    }
}

@media screen and (max-width: 1185px) and (min-width: 1050px) {
    .relay {
        left: 90px;
    }
    
    .relaytext {
        left: 470px;
    }

    .receiver {
        left: 90px;
    }

    .receivertext {
        left: 470px;
    }

    .multifeeder {
        left: 90px;
    }

    .multifeedertext {
        left: 470px;
    }

    .robot {
        left: 90px;
    }

    .robottext {
        left: 470px;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1050px) {
   
    .relay {
        right: 1080px;
    }

    .relaytext {
        width: 550px;
        right: 150px;
    }

    .receiver {
        right: 1080px;
    }

    .receivertext {
        width: 550px;
        right: 150px;
    }

    .multifeeder {
        right: 1080px;
    }

    .multifeedertext {
        width: 550px;
        right: 150px;
    }

    .robot {
        right: 1080px;
    }

    .robottext {
        width: 550px;
        right: 150px;
    }
}

@media screen and (max-width: 1050px) and (min-width: 850px) {

    .relay {
        left: 90px;
    }

    .relaytext {
        left: 470px;
        width: 350px;
    }

    .receiver {
        left: 90px;
    }

    .receivertext {
        left: 470px;
        width: 350px;
    }

    .multifeeder {
        left: 90px;
    }

    .multifeedertext {
        left: 470px;
        width: 350px;
    }

    .robot {
        left: 90px;
    }

    .robottext {
        left: 470px;
        width: 350px;
    }
}

@media screen and (max-width: 850px) and (min-width: 500px) {
    .relaytext {
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 240px;
    }

    .receivertext {
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 540px;
    }

    .multifeedertext {
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 900px;
    }

    .robottext {
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 1260px;
    }

}

@media screen and (max-width: 850px) and (min-width: 0px) {

    .relay {
        top: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    

    .receiver {
        top: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 330px;
    }

   

    .multifeeder {
        top: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 690px;
    }

   

    .robot {
        top: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 1050px;
    }

    


    .imgHdd:hover {
        transform: scale(1.6);
    }
}

@media screen and (max-width: 800px) and (min-width: 0px) {
    .buttonChannel {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        left: calc(50%-300px);
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 1px;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1150px) {
    
    .h2Calc {
        top: 1490px;
    }

    .footerCalc {
        top: 1790px;
    }
}

@media screen and (max-width: 1150px) and (min-width: 710px) {
    .bodyCalc {
        height: 240vh;
    }

    .h2Calc {
        top: 1680px;
    }

    .footerCalc {
        top: 1970px;
    }
}

@media screen and (max-width: 710px) and (min-width: 0px) {
    .bodyCalc {
        height: 270vh;
    }

    @media screen and (max-height: 530px) and (min-height: 0) {
        .bodyCalc {
            height: 320vh;
        }
    }

    .h2Calc {
        top: 1980px;
    }

    .footerCalc {
        top: 2270px;
    }

    .devicesWidth {
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (max-width: 2000px) and (min-width: 500px) {

    footer {
        padding-left: 45px;
    }
}

@media screen and (max-width: 500px) and (min-width: 0) {
    
    #current_date_time_block2 {
        font-size: 1.4rem;
        width: 255px;
        margin: 40vh auto;
    }

    .ufo {
        width: 18%;
    }

    .paragraph2 {
        font-size: 15px;
    }

    .pdevices {
        margin-bottom: 40px;
    }

    .h1dev {
        font-size: 18px;
    }

    .paragraph {
        font-size: 18px;
    }

    .small {
        font-size: 22px;
    }

    .h1index {
        font-size: 22px;
    }

    .effect {
        height: 133px;
        width: 200px;
    }

    .devicesCenter {
        font-size: 0.65cm;
        padding-top: 50px;
        padding-left: 33px;
    }

    .patentsCenter {
        font-size: 0.65cm;
        padding-top: 50px;
        padding-left: 46px;
    }

    .channelCenter {
        font-size: 0.65cm;
        padding-top: 50px;
        padding-left: 64px;
    }

    .calculatorsCenter {
        font-size: 0.65cm;
        padding-top: 50px;
        padding-left: 13px;
    }

    .devices {
        top: 670px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        left: calc(50%-200px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .calculators {
        top: 970px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        left: calc(50%-200px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .patents {
        top: 1270px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        left: calc(50%-200px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .channel {
        top: 1570px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        left: calc(50%-200px);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    figure {
        width: 200px;
        height: 133px;
    }

    .relaytext {
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 210px;
    }

    .receivertext {
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 510px;
    }

    .multifeedertext {
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 870px;
    }

    .robottext {
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 1230px;
    }

    .patentstext {
        font-size: 22px;
    }

    .calculatorRLC {
        width: 290px;
        height: 500px;
    }

    #inp1 {
        width: 252px;
    }

    #inp2 {
        width: 252px;
    }

    .calc-screen p {
        font-size: 1.2rem;
    }

    .calc-text {
        font-size: 1.1rem;
    }

    .pMenuCalc {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 3000px) and (min-width: 1930px) {
    .footerIndex {
        top: 1887px;
    }

    .footerPatents {
        top: 1897px;
    }
}
